:root {
    --accent: #ac382e;
    --primary: hsl(337, 90%, 45%);
    --whiteglass1: #fffd;
    --whiteglass2: #fff8;
    --whiteglass3: #fff3;
    --darkglass1: #000b;
    --darkglass2: #0005;
    --darkglass3: #0003;
    --radius1: 8px;
    --bar: white;
  }
  * {
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 15pt;
    line-height: 1.5;}