body{
  color: #433;
  background: var(--bar);
}
a {
  color: var(--whiteglass1);
  text-decoration: none;
  transition: 0.2s;
}
a:hover,
a:active {
  color: #fffe;
  text-decoration: underline;
}
hr {
  border: 1px solid #fff3;
}

.quiet-anchor {
  text-decoration: none;
  color: inherit;
}

section {
  margin: 60px 0;
}
footer {
  background: var(--darkglass1);
}
header > h1 {
  margin: 0;
}
header img.logo {
  margin: 0 32px;
}
body > header {
  overflow-x: hidden;
  padding: 24px 4px;
  position: fixed;
  top: 0;
  display: flex;
  background: var(--bar);
  color: var(--accent);
  backdrop-filter: blur(4px);
  -moz-backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 999;
  box-shadow: 0 0 6px var(--darkglass3);
}
body main {
  padding: 0 16px;
  scroll-snap-type: block mandatory;
}

main > section > section {
  max-width: 500px;
  margin: 0 16px;
  border: 3px dashed var(--bar);
  border-radius: var(--radius1);
  padding: 1px 32px 140px;
  scroll-snap-align: start;
  box-shadow: 0 2px 4px 0 var(--darkglass3);
}
main > section > section h3{font-weight: normal;color: var(--whiteglass2);}

body > footer {
  padding: 8px 32px 3em;
  text-align: center;
  font-size: 11pt;
}
footer > h4 {
  color: var(--whiteglass2);
}

.description {
  margin: 3rem 2rem;
  padding: 8px 16px;
  text-align: justify;
  line-height: 2;
}
.exclamation {
  background: var(--darkglass1);
  padding: 16px 64px 0 64px;
  margin: auto;
  margin-top: 12rem;
  width: 50%;
  min-width: fit-content;
  display: block;
  text-align: center;
  border-radius: 64px 64px 0 0;
  font-weight: 700;
  color: var(--whiteglass1);
}
