body>header{position: fixed;top: 0;}
/* html {
    scroll-snap-type: block; 
}
main>section>section,footer,.description,footer h4,hr{
    scroll-snap-align: start;
    scroll-margin-block-start: 100px;
}
footer{

    scroll-margin-block-start: 200px;
}*/

.grid-container{
    display: grid;
    align-items: stretch;
    justify-items: center;
}
section.grid-container {
    grid-template-columns: auto;
}