body>header{position: sticky;top: 0;}
body {
    scroll-snap-type: y mandatory;}
    body main{
        scroll-snap-type: block mandatory;
    }
main>section:hover{
    scroll-snap-align: start;
}

.grid-container{
    display: grid;
    align-items: stretch;
    justify-items: center;
}
section.grid-container {
    grid-template-columns: auto;
}