body {
  color: #433;
  background: var(--bar);
  overflow-x: hidden;
}

/* FOOTER */

footer {
  padding: 8px 32px 60vh;
  text-align: center;
  font-size: 12pt;
}

footer {
  background: var(--darkglass1);
}
footer h4 {
  color: var(--whiteglass2);
}
footer hr {
  border: 1px solid var(--whiteglass3);
  margin: 3em 0;
}
footer a {
  border-radius: 4px;
  padding: 16px;
  color: var(--whiteglass1);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
}
footer a:hover {
  background: var(--whiteglass3);
  color: white;
}
footer #contacto a{

  padding: 4px 16px;
  justify-content: start;
}

/* ANCHORS */
a {
  color: var(--accent);
  text-decoration: none;
  transition: 0.2s;
}
a:hover,
a:active {
  color: var(--primary);
  text-decoration: underline;
}
hr {
  border: 1px solid #fff3;
}

.quiet-anchor {
  text-decoration: none;
  color: inherit;
}

section {
  margin: 60px 0;
}

header > h1 {
  margin: 0;
  font-size: 20pt;
}
header img.logo {
  margin: 0 32px;
}
body > header {
  overflow-x: hidden;
  padding: 8px 8px 0;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  background: var(--bar);
  color: var(--accent);
  backdrop-filter: blur(4px);
  -moz-backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 999;
  box-shadow: 0 0 6px var(--darkglass3);
}
body main {
  padding: 0 16px;
  scroll-snap-type: block mandatory;
}

main > section > section {

  width: 50%;
  min-width: 300px;
  margin: 16px;
  border: 3px dashed var(--bar);
  border-radius: var(--radius1);
  padding: 8px 32px;
  scroll-snap-align: start;
  box-shadow: 0 1px 4px 0 var(--darkglass3);
  text-align: justify;
}
main > section > section h3 {
  margin: 4px auto 32px;
  font-size: large;
  text-align: center;
  font-weight: normal;
  color: var(--darkglass2);
}

.description {
  margin: 3rem .5rem;
  padding: 8px 16px;
  line-height: 1.5;
}
.exclamation {
  background: var(--darkglass1);
  padding: 16px 32px 0;
  margin: 12rem auto 0;
  width: 60%;
  min-width: fit-content;
  display: block;
  text-align: center;
  border-radius: 64px 64px 0 0;
  font-weight: 700;
  font-size: large;
  color: var(--whiteglass1);
  position: relative;
}
.exclamation img:nth-child(2) {
  position: absolute;
  top: -31px;
  left: 64px;
}
.exclamation img:nth-child(3) {
  position: absolute;
  top: -40px;
  right: 80px;
  transform: scale(-2, 2);
}
.exclamation .plate{
  background: #444;
  border-radius: 0 0 8px 8px;
  position: absolute;
  top: -12px;
  height: 12px;
  right: 45%;
 width: 32px;
}


.description,section>section{
text-align: justify;
text-justify: distribute;
}