body {
  color: #433;
  background: var(--bar);
  overflow-x: hidden;
}
/* HEADER */
header{
  display: flex;
}
header .right-container{
  padding-right: 32px;
  display: flex;
  width: 100%;
  align-items: center;
 justify-content: right;

}
header .social img{
  border-radius: var(--radius1);
  background:dodgerblue;
  width: 30px;
}
header .social:hover{
  transform: scale(1.1);
}header .social:active{
  transform: scale(1);
}
/* EMBEDED */
#embededPosts{
  width:95%;
  /* border: 2px solid #0002; */
  padding: 8px;
  border-radius: var(--radius1);
  display: flex;
  overflow:scroll ;
  justify-content: space-between;
}
#embededPosts iframe{
  min-width: 400px;
}
/* FOOTER */

footer {
  padding: 8px 32px;
  text-align: center;
  font-size: 12pt;
}

footer {
  background: var(--darkglass1);
}
footer h4 {
  color: var(--whiteglass2);
}
footer hr {
  border: 1px solid var(--whiteglass3);
  margin: 3em 0;
}
footer a {
  border-radius: 4px;
  padding: 16px;
  color: var(--whiteglass1);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
}
footer a:hover {
  background: var(--whiteglass3);
  color: white;
}
footer{display: flex; flex-direction: column;}
footer #contacto a{

  padding: 4px 16px;
  justify-content: start;
}
#contact-list{
  display: flex;
  align-items: center;
  justify-content: center;
}
#links{
  margin-top: 32px;
  text-align: center;
  justify-content: space-around;
  display: flex;
  flex-direction:row ;}
  

/* ANCHORS */
a {
  color: var(--accent);
  text-decoration: none;
  transition: 0.2s;
}
a:hover,
a:active {
  color: var(--primary);
  text-decoration: underline;
}
hr {
  border: 1px solid #fff3;
}

.quiet-anchor {
  text-decoration: none;
  color: inherit;
}

section {
  margin: 60px 0;
}

header > h1 {
  margin: 0;
  font-size: 20pt;
}
header img.logo {
  margin: 0 32px;
}
body > header {
  overflow-x: hidden;
  padding: 8px 8px 0;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  background: var(--bar);
  color: var(--accent);
  backdrop-filter: blur(4px);
  -moz-backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 999;
  box-shadow: 0 0 6px var(--darkglass3);
}
body main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
  scroll-snap-type: block mandatory;
}

main .card {
  background: #fff0;
  backdrop-filter: blur(24px);
  width: 100%;
  max-width: 600px;
  margin: 16px;
  border: 3px dashed var(--bar);
  border-radius: var(--radius1);
  padding: 8px 32px;
  scroll-snap-align: start;
  box-shadow: 0 1px 4px 0 var(--darkglass3);
}
main .card h3 {
  margin: 4px auto 32px;
  font-size: large;
  text-align: center;
  font-weight: normal;
  color: var(--darkglass2);
}



#objetivos-card > div{
  display:flex;
  justify-content: space-between;
}
#objetivos-card img{
  width: 100%;
  max-width: 150px
}
#description{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;}
#description img{
  max-height: 200px;
  height:100%
}
.description {
  margin: 3rem .5rem;
  padding: 8px 16px;
  line-height: 1.5;

text-align: justify;
text-justify: distribute;
}